<template>
  <v-container>
    <h1>The home Page</h1>
  </v-container>
</template>

<script lang="ts">
import { Vue } from 'vue-property-decorator';
import Component from 'vue-class-component';
import { UserPictureApi } from '@/common/api/userPictureApi';

@Component
export default class Home extends Vue {
  public name: 'home';
}
</script>
